{% extends "base.html" %}

{% block content %}
        <br>
        <form method="GET">
            {{ form.as_p }}
            <input type="submit">
        </form>
        
    {% if object_list %}
        This is my list of folks
        <ul>
            {% for person in object_list %}
                <li>
                    <a href="{% url 'fbv-person-detail' person.id %}">
                        {{ person.first_name }} {{ person.last_name }}
                    </a> from {{ person.country }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No profiles match that search
    {% endif %}
{% endblock %}
